body {
    background-color: #f5f5f5;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

.btn {
    border-radius: 30px;
}
